.profile__add-button {
  border: 2px solid white;
  background-image: url(../../../images/add-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 146px;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.5s ease;
  justify-self: flex-end;
  align-self: center;
}

@media all and (max-width: 800px) {
  .profile__add-button {
    width: 278px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}